
#generate_text{
    font-weight: bold;
    font-size: xx-large;
}

  .liquor_buttons {
    width: 100px; /* Set the width to the same as the height to create a square */
    height: 100px;
    margin: 10px;
    animation: pulse 0.5s;
    background-color: white;
    color: black;
    font-size: small;
    font-weight: bold;
  }
  
  .taste_buttons {
    width: 100px; /* Set the width to the same as the height to create a square */
    height: 100px;
    margin: 10px;
    animation: pulse 0.5s;
    background-color: white;
    color: black;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

