.nav-link:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
  

  .register-text {
    font-size: 15px;
  }
  
  .register-text span {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .register-text span:hover {
    color: #ffd700;
  }
