
.ingredient {
    margin-left: 0px;
    padding-bottom: 0.25em;
    margin-right: 20px;
    margin-bottom: 0.25em;
    border-bottom: 3px solid rgb(168, 173, 178);
}

.ingredient:last-child {
    border-bottom: none;
}

/* CSS taken from https://getcssscan.com/css-buttons-examples */
.button-84s {  
    align-items: center;
    background-color: #E3E3E3;
    border-color: #FFF;
    border-radius: 8px;
    border-width: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5em;
    justify-content: center;
    line-height: 1;
    height: 2.25em;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-84s:hover {
    box-shadow: rgba(0, 17, 0, 0.2) 0 2px 8px;
    opacity: .95;
    background-color: #c4c4c4;
}

.button-84s:active {
    outline: 0;
}

.button-84s:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 2px;
}

@media (max-width: 420px) {
    .button-84s {
        height: 48px;
    }
}

#button-div {
    border-radius: 0em 0em 0.75em 0.75em;
    border: 3px solid #000000;
    border-top: none;
    font-size: 1.5em;
    width: 16em;
    background: #3d3d3d;
}



.button-two-line {
    height: 3em;
}

.button-special {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    color:#ffffff;
    background-color: #3EB3E7;
    margin-right: 2em;
}

.button-special:hover {
    background-color: #369ac5;
}

.button-darker {
    font-size: 1em;
    background-color: #363636;
    color: #ffffff;
}

.button-darker:hover {
    background-color: #1d1d1d;
}

#button-edit {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
    margin-left: 2em;
}

#top_button_placeholder {
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5em;
    height: 3em;
}

.editprofile_container {
    background-color: #f0f0f0;
    border: 8px ridge #8f8f8f;
    padding-left: 2vw;
    padding-right: 2vw;
    width: fit-content;
}

.editprofile_buttons {
    font-size: 1.5em;
    margin-right: 0.5em;
    bottom: 0;
}

.profile_picture {
    max-height: 50vh;
    max-width: 50vw;
}
@media (min-width: 600px) {
    .profile_picture {
        max-height: 25vh;
        max-width: 25vw;
    }
}

.drink_picture {
    max-height: 50vh;
    max-width: 50vw;
    border-radius: 2em;
}
@media (min-width: 600px) {
    .drink_picture {
        max-height: 25vh;
        max-width: 25vw;
        border-radius: 2em;
    }
}

.drink_header {
    color: white;
    padding-bottom: 0.1em;
    display:inline-block;
}

.author_header {
    font-size: 1.25em;
    color: white;
    padding-bottom: 0.75em;
}

.drink_wrapper {
    text-align: left;
    background-color: rgb(26, 17, 36, .98);
    width: fit-content;
    padding: 1em 3em 3em 3em;
    border: 3px solid #979797;
    border-radius: 2em;
}

.favorite_star {
    text-align: right;
    font-size:40px;
}

.ingredient-button {
    float: right;
    color: white;
    background-color: transparent;
    padding: 0;
    padding-right: 10px;
    border: none;
    display: inline;
}

#done_button{
    background-color: #41C3FA;
    height: auto;
    width: 90px;
}