#storage_title{
    font-weight: bold;
    color: white;
    font-size: xx-large;
}

#ingredients_wrapper {
    color:#ffffff;
    background: rgb(108,117,125, 0.8);
    font-size: 1.5em;
    padding: 0.5em;
    width: 410px;
    height: 51vh;
    overflow-y: scroll;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}


#storage_buttons {
    background: rgb(108,117,125, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 12px;
    width: 410px;
    font-size: 1.5em;
    min-width: 10em;
    height: fit-content;
}


#storage_add_search_button {
    margin-left: 10px;
    background-color: rgb(168, 173, 178);
    height: auto;
    width: 150px;
}

#add_button {
    background-color: rgb(168, 173, 178);
    height: auto;
    width: 60px;
    margin-left: 10px;
}

#generate_button {
    background-color: #41C3FA;
    height: auto;
    margin-left: 10px;
    width: 235px;
}

#edit_button {
    background: rgb(168, 173, 178);
    height: auto;
    width: 60px;
    margin-left: 10px;
}

#add_all_button {
    background-color: #41C3FA;
    height: auto;
}

.ingredient-storage-li {
    margin-left: 0px;
    padding-bottom: 0.25em;
    margin-right: 20px;
    margin-bottom: 0.25em;
    border-bottom: 3px solid rgb(168, 173, 178);
    overflow-x: auto;
}

.ingredient-storage-li:last-child {
    border-bottom: none;
}

.ingredient-button {
    float: right;
    color: white;
    background-color: transparent;
    padding: 0;
    padding-right: 10px;
    border: none;
    display: inline;
}

.storage_header {
    display: block;
    width: fit-content;
    margin: 20px auto 20px; /* added 20px margin-top */
    text-align: center;
    color: white;
    border: 3.5px solid white;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
  }