#storage_title{
    font-weight: bold;
    color: white;
    font-size: xx-large;
}

#ingredients_wrapper {
    color:#ffffff;
    background: rgb(108,117,125, 0.95);
    font-size: 1.75em;
    padding: 0.5em;
    width: 50vh;
    height: 51vh;
    overflow-y: scroll;
    border-top-left-radius: 10px;
    text-align: left;
}


#storage_buttons {
    background: rgb(108,117,125, 0.95);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 12px;
    width: 50vh;
    height: fit-content;
}

#add_button {
    background-color: rgb(168, 173, 178);
    height: auto;
    width: 90px;

}
#generate_button {
    background-color: #41C3FA;
    height: auto;
    margin-left: 2vh;
    width: 135px;

}
#edit_button {
    background: rgb(168, 173, 178);
    height: auto;
    width: 90px;
    margin-left: 2vh;
}
