
#vault-title{
  font-weight: bold;
  color: white;
  font-size: xx-large;
}

#vault-btn{
  color: #fff;
  opacity: 90%;
  width: 40vh;
  padding: 2vh;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: large;
}

vault-btn:hover {
  transform: scale(1.05);
}
