.wholebox{
    border: 3px solid blue;
}
.titlerow{
    background-color: teal;
    border: 2px solid red;
}

.titlecolumn{
    background-color: brown;
    border: 4px solid black;
}

.composebox{
    background-color: green;
    border: 4px solid black;
}

.contactformbox{
    background-color: pink;
    border: 4px solid black;
}